@import '../../styles/base';

.container {
  @extend %rounded;
  @include box(200px, 150px);
  @include media('<tablet') {
    margin-top: 100px;
  }
  color: $white;
  font-size: 24px;
}

.icon {
  color: $red;
  font-size: 32px;
}
