@import '../../styles/base';

.container {
  display: flex;
  flex-direction: column;

  .list {
    @extend %rounded-border;
    background-color: $white-smoke;
    border: 3px solid $blue;
    display: flex;
    flex-flow: column;
    list-style: none;
    padding: 15px;

    &:hover > .detailRow {
      opacity: .5;

      &.detailRow:hover { //sass-lint:disable-line force-pseudo-nesting
        opacity: 1;
      }
    }

    .detailRow + .detailRow {
      border-top: 1px solid $silver;
    }

    .detailRow {

      &:last-of-type {
        margin: 0 0 -10px;
      }
    }

    .headerRow {
      align-items: center;
      border-bottom: 3px solid $blue;
      display: flex;
      justify-content: flex-end;
      margin: -10px 0 5px;

      .itemCount {
        color: $blue;
        font-size: $font-size-large;
        font-weight: $font-weight-bold;
        margin: 0 20px 0 0;
      }

      .iconDetail {
        color: $blue;
        font-size: 28px;
        margin: 0 20px 0 0;

        &:hover {
          cursor: pointer;
        }
      }

      .iconCompleted {
        color: $blue;
        font-size: 18px;

        &:hover {
          cursor: pointer;
        }
      }

    }

    .headerRowAllCompleted {
      border-bottom: 0 none;
      margin-bottom: -10px;
    }

  }

  .noItems {
    background-color: $white-smoke;
    margin: 0 0 10px;
    padding: 10px;
    text-align: center;
  }

  .hr {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75), rgba(0, 0, 0, 0)); //sass-lint:disable-line no-color-literals
    border: 0;
    height: 1px;
    margin: 0 0 10px;
  }

}
