$font-weight-small: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-extra-bold: 700;

$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-large: 16px;
$font-size-extra-large: 18px;
